.container
  %img{src: "/assets/question.jpeg"}
  .questionscontainer
    %h1 questionaire

    .ajax 
      %p Click to see a Question
      %button.togglequestions Next Question
    %p.displayquestions
    %p.displayanswers

